
.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px;
  margin: 0;
  align-items: center;
  width: 1100px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.header__menu{
  width: 391.48px;
  padding-bottom: 1px;
}

.header__menu-list{
  display: flex;
  gap:31px;
}
.header__menu-list li:nth-child(1) {
  margin-right: 0.48px;
}

.header__menu-list li:nth-child(2) {
  margin-right: 4px; 
}
.links-list{
  font-size: 18px;
  font-weight: 400;
  list-style: circle;
  line-height: 22px;
}
.link{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.active_link{
  text-decoration: none;
}
.links-list-item_no-bullit{
  list-style: none;
}
.header__logo{
  width: 137px;
  height: 105px;
}
.header__logo-image{
  display: block;
}


.address{
  font-style: normal;
  display: grid;
  font-size: 18px;
}
.header__address{
  width: 240px;
  justify-self: end;
  margin-left: 184px;
}

.address-link-item{
  line-height: 24.3px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.underlane-none{
  text-decoration: none;
}

.cover{
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 757px;
  z-index: 0; 
  padding: 165px 50px 50px;
}
.overlay{ 
  position: absolute; 
  inset: 0; 
  background-color: #000000; 
  z-index: -2; 
  opacity: 60%; 
  
}

.cover__title{
  display: grid;
  gap: 20px;
  font-size: 100px; 
  line-height:1.15 ; 
  text-transform: uppercase; 
  letter-spacing: 30px;
  color: #fff;
  margin-bottom: 106px;
  line-height: 1.15;

}
.aligned-text{ 
  display: block;
}


.aligned-text-center{ 
  justify-self: center;
  width: 339px;

} 

.aligned-text-right{ 
  justify-self: end;
  width: 387px;
} 

.cover__description{
  font-size: 22px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 1000px;
  font-size: 22px;
  line-height: 45px;
}

.cover__description-text{ 
  text-transform: uppercase; 
  line-height: 28px;
  color: #fff;
  word-spacing: 19px;
} 
.letter-spacing-extended{
  word-spacing: 18px;
}

.cover__description-button{ 
  width: 256px;
  background: none; 
  color: #FFFFFF; 
  border: 1px solid currentColor;
  cursor: pointer; 
  text-transform: uppercase; 
  line-height: 47px;
}

.lots{
  margin-top: 180px;
  padding: 0 24px;

}

.lots__heading{
  margin: 0 0 23px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 100%;
  list-style: none;
  width: 1052px;
  margin-bottom: 34px;
}

.lots__card-list-item{
  width: 334px; 
  flex-grow: 1;
  min-height: 596px;
}


.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 334px;
  margin-top: 4px;
  height: 100%;
  padding: 50px 40px; 
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;

}

.card-link{
  text-decoration: none;
}
.card-title{
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: 700;
  line-height: 25.5px;
  }


.card-text{
  font-size: 20px; 
  line-height: 24px; 
  z-index: 2; 
  text-decoration: none;

}
.card-type-film{
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book{ 
  background-image: url(../images/card-lot-02.jpg); 
} 
 
.card_type_picture{ 
  background-image: url(../images/card-lot-03.jpg); 
} 

.lots__look-more-link{ 
  font-size: 20px; 
  text-decoration: underline; 
  text-underline-offset: 4px; 
  margin-left: 40px;
}

.about{
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 0 24px;
  margin-top: 120px; 
} 

.about__logo{ 
  display: flex; 
  width: 240px; 
  height: 240px; 
  background-color: #000000; 
  border-radius: 50%; 
  justify-content: center; 
  align-items: center; 
  margin: 33px 0 0 47px;
}
.about__logo-image{
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 136px 0 99px 25px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display:flex;
  flex-direction: column;
  margin: 24px 0 0 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap:25px;
}


.footer{ 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  padding:0 50px; 
  margin-top: 180px; 
 
  font-family: "Raleway", sans-serif; 
  font-size: 18px; 
  line-height: 1.35; 
} 
 

 

 
.footer__menu-list{ 
  list-style: none; 
  text-align: center; 
 
} 
 


 
.footer__social-list{ 
  display: flex; 
  gap: 48px; 
  list-style: none; 
  justify-self: end; 
} 
 
.footer__social-link{ 
  display: block; 
  width: 48px; 
 
}